.input-element {
  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #000;
    border-radius: 0;
    box-sizing: border-box;
    outline: none;
    background-color: transparent;
    padding: 12px 0;
    &:focus {
      box-shadow: none;
    }
  }
  .pi-times {
    position: absolute;
    top: 50%;
    right: 0.5rem;
    transform: translateY(-50%);
    cursor: pointer;
  }
  label {
    left: 0;
  }
}
