.header-component {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 100%;
  color: #fff;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(0, 0, 0, 0) 100%
  );

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem 0;

    .logo-name {
      width: 33.333%;
      font-family: "Courier New", Courier, monospace;
      font-size: 2.5rem;
    }

    .header-top-right {
      display: flex;
      width: 33.333%;
      justify-content: flex-end;
      column-gap: 2rem;
      text-align: center;
      .pi:before {
        margin-bottom: 5px;
      }
      .submit-button button{
        font-size: 0.75rem;
      }
    }
  }
  .p-divider.p-divider-horizontal{
    margin: 0.5rem 0;
  }

  .p-divider.p-divider-horizontal::before {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .p-megamenu {
    background: transparent;
    border: none;

    &.p-megamenu-horizontal {
      .p-megamenu-root-list {
        width: 100%;
        justify-content: space-evenly;

        > .p-menuitem {
          &:not(.p-highlight):not(.p-disabled) {
            > .p-menuitem-content {
              border-radius: 0;

              &:hover {
                background: none;
                border-bottom: 2px solid rgba(255, 255, 255, 0.5);
              }
            }
          }

          > .p-menuitem-content {
            .p-menuitem-link {
              .p-menuitem-text {
                color: #fff;
                font-size: 1.1rem;
              }
            }
          }
        }
      }
    }

    .p-menuitem.p-highlight > .p-menuitem-content {
      background: transparent;
    }

    .p-menuitem-content {
      svg {
        display: none;
      }

      &:hover {
        color: rgba(0, 0, 0, 0.1); // Optional: might not be visible on dark bg
      }
    }
  }
}
