@mixin center-div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.homepage-custom-body {
  .homepage-body-content {
    @include center-div;
    top: 43%;
    .brand-rating {
      // display: flex;
      // flex-direction: row;
      // gap: 5px;

      // span::before {
      //   font-size: 26px;
      //   color: #f6e36c;
      // }
      .p-rating-item {
        margin-right: 5px;
        svg {
          transform: scale(1.5);
          color: #f6e36c;
        }
      }
    }

    > span {
      font-family: "Courier New", Courier, monospace;
      margin-top: 1rem;
      font-weight: 700;
      color: #ffffff;
      text-align: center;
    }

    > span:first-of-type {
      font-size: 1.75rem;
    }

    > span:nth-of-type(2) {
      font-size: 3.5rem;
      font-family: "Times New Roman", Times, serif;
    }

    > span:last-of-type {
      font-size: 1.25rem;
    }
  }
  .hotel-search-bar {
    @include center-div;
    top: 80%;
    flex-direction: row;
    // border: 1px solid #000000;
    border-radius: 15px;
    background-color: #ffffff;
    .card {
      padding: 0.5rem;
      margin: 0.5rem;
      .p-component {
        border: none;
      }
    }
    .card:not(:last-child) {
      border-right: 1px solid rgb(0, 0, 0, 0.1);
    }
  }
}
