@import "../App.scss";
// Mixin for centering a div absolutely using flex
@mixin center-div($top: 50%) {
  position: absolute;
  top: $top;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

// Placeholder for star icons
%star-icon {
  transform: scale(1.5);
  color: #f6e36c;
}

.homepage-custom-body {
  .homepage-body-content {
    @include center-div(43%);

    .brand-rating {
      .p-rating-item {
        margin-right: 5px;

        svg {
          @extend %star-icon;
        }
      }
    }

    > span {
      font-family: "Courier New", Courier, monospace;
      margin-top: 1rem;
      font-weight: 700;
      color: #ffffff;
      text-align: center;

      &:first-of-type {
        font-size: 1.75rem;
      }

      &:nth-of-type(2) {
        font-size: 3.5rem;
        font-family: "Times New Roman", Times, serif;
        @include pageWidth(tablet) {
          font-size: 2.5rem;
        }
      }

      &:last-of-type {
        font-size: 1.25rem;
      }
    }
  }

  .hotel-search-bar {
    @include center-div(85%);
    flex-direction: row;
    border-radius: 15px;
    background-color: #ffffff;

    .card {
      padding: 0.5rem;
      margin: 0.5rem;

      .p-component {
        border: none;
      }

      &:not(:last-child) {
        border-right: 1px solid rgba(0, 0, 0, 0.1);
      }
      .room-count,
      .guest-count {
        display: flex;
        align-items: center;
        justify-content: space-around;
        padding: 0.5rem 0;
      }
      .guest-count {
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }
      .apply-btn {
        padding-top: 1rem !important;
        text-align: right;
      }
    }
    .search-button button {
      min-width: 10rem;
    }
  }
}
