@mixin center-div($top: 50%) {
  position: absolute;
  top: $top;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hotel-search-bar {
  @include center-div(85%);
  flex-direction: row;
  border-radius: 0;
  background-color: #ffffff;

  .card {
    padding: 0.5rem;

    .p-component {
      border: none;
    }

    &:not(:last-child) {
      border-right: 1px solid rgba(0, 0, 0, 0.1);
    }
    .room-count,
    .guest-count {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: 0.5rem 0;
    }
    .guest-count {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .apply-btn {
      padding-top: 1rem !important;
      text-align: right;
    }
  }
  .search-button button {
    min-width: 10rem;
    margin: 0 1rem;
  }
}
