.custom-layout {
  background: #fffce5;
  .custom-layout-header {
    display: flex;
    justify-content: space-between;
    font-family: "Courier New", Courier, monospace;
    align-items: center;
    font-size: 45px;
    padding: 1rem 2rem 0;
    background: #e1d89f;
    .close-btn {
      font-size: 18px;
      cursor: pointer;
    }
    .close-btn::before {
      font-size: 16px;
      margin-right: 5px;
    }
    .logo-image {
      cursor: pointer;
    }
    .login-btn {
      font-size: 18px;
      cursor: pointer;
    }
    .login-btn::before {
      font-size: 18px;
      margin-right: 10px;
    }
  }
  .p-steps {
    margin: 2rem 0;
    ol {
      li a {
        background: transparent;
      }
      li::before {
        border-top: 1px solid #06b6d4;
      }
    }
  }
}
