.form-overlay {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 500px;
  padding: 20px;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.1),
      /* Light black gradient */ rgba(0, 0, 0, 0.2)
    ),
    #fffce5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  height: 100vh;
  overflow-y: auto;
  .custom-icon {
    font-size: 22px;
    color: black;
    float: right;
  }
  .form-content {
    padding: 2rem;
    h2 {
      text-align: center;
      margin: 0 auto;
      color: black;
      font-weight: 400;
      margin: 1rem 0 2rem;
    }
    form {
      text-align: center;
      color: #000;
      .input-group {
        margin-bottom: 2.5rem;
        .error-message {
          color: red;
          text-align: left;
        }
      }
      .input-group:nth-of-type(2) {
        margin-bottom: 1rem;
      }
      .forgot-pwd {
        float: left;
        font-weight: 500;
        cursor: pointer;
      }
      .custom-btn-group {
        margin-top: 5rem;
        button {
          width: 100%;
          margin-bottom: 2.5rem;
          border-radius: 0;
          min-height: 3.5rem;
          text-transform: uppercase;
        }
      }
    }
  }
}
