.login-overlay {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 500px;
  padding: 20px;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1), /* Light black gradient */
    rgba(0, 0, 0, 0.2)
  ),
  #fffce5;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  height: 100vh;
  overflow-y: auto;
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  form {
    text-align: center;
  }
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}
