.custom-card{
    position: absolute;
    background-color: #ffffff;
    color: #000000;
    border-radius: 10px;
    z-index: 1;
    height: auto;
    width: 150%;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
}